<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272611126110-i5humb8256nchgjt448g73uk1vmncmrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272611126110-i5humb8256nchgjt448g73uk1vmncmrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272611126110-2ckrgb3ak8o18psi86svuvihjauccsok.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm3E9bBsuDczJ2gM92ag7U0hjEmPynDok</string>
	<key>GCM_SENDER_ID</key>
	<string>272611126110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.tiebe.otarium</string>
	<key>PROJECT_ID</key>
	<string>openbaar-lyceum-zeist</string>
	<key>STORAGE_BUCKET</key>
	<string>openbaar-lyceum-zeist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272611126110:ios:c8583564bf48ac42b8bdcf</string>
	<key>DATABASE_URL</key>
	<string>https://openbaar-lyceum-zeist-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1684141915170982~1192677410</string>
</dict>
</plist>