<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272611126110-8iaf5jq640tie7lprtai2cvd53m8gdla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272611126110-8iaf5jq640tie7lprtai2cvd53m8gdla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272611126110-2ckrgb3ak8o18psi86svuvihjauccsok.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBm3E9bBsuDczJ2gM92ag7U0hjEmPynDok</string>
	<key>GCM_SENDER_ID</key>
	<string>272611126110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.tiebe.Otarium</string>
	<key>PROJECT_ID</key>
	<string>openbaar-lyceum-zeist</string>
	<key>STORAGE_BUCKET</key>
	<string>openbaar-lyceum-zeist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272611126110:ios:9dc06b8c347a5cf2b8bdcf</string>
</dict>
</plist>